.ClassSeparator {
    align-items: center;
    border-bottom: solid 1px #6e6c6c;
    border-top: solid 1px #6e6c6c;
    display: flex;
    flex-direction: column;
    padding-bottom: 24px;
    width: 100%;
}

.ClassContainer {
    min-width: 300px;
    width: 500px
}

.Title {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: 18px;
}

.ClassIcon {
    height: 24px;
    margin-right: 4px;
    width: 24px;
}