.selectGroupHeader {
    align-items: center;
    border-bottom: solid 0.5px #efefef;
    display: flex;
    flex-direction: row;
    height: 36px;
}

.selectIcon {
    height: 24px;
    margin-right: 4px;
    width: 24px;
}

.selectOption {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    height: 28px;
    margin-bottom: 4px;
    padding-left: 20px;
}

.selectOption:hover {
   background-color: #efefef;
}

.selectedOption {
    align-items: center;
    display: flex;
    flex-direction: row;
}