.tableContainer {
    background-color: #d8d8d8;
    border-radius: 2px;
    margin-bottom: 30px;
    max-height: 400px;
    max-width: 1000px;
    min-height: 400px;
    overflow-y: auto;
    padding: 4px;
    width: 100%;
}

.tableHeadTr {
    height: 38px;
}

.th {
    text-align: left;
}

.thAlignRight {
    text-align: right;
}

.table {
    max-width: 1000px;
}

.row {
    background-color: #ffffff;
    height: 38px;
}

@media only screen and (max-width: 600px) {
    .row {
        height: fit-content;
    }
  }

.rowColored {
    background-color: #f0f0f0;
}

.td {
    padding: 0px 8px
}

.classColumnContainer {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.classIcon {
    height: 24px;
    margin-right: 8px;
    width: 24px;
}

.winIcon {
    color: rgb(16, 179, 16);
    height: 24px;
    width: 24px;
}

.loseIcon {
    color: rgb(168, 11, 11);
    height: 24px;
    width: 24px;
}